@media (min-width:801px) and (max-width:1200px){
    .upHeaderContainer2{
            width: 26%;
    }
    .downHeaderContainer1 a {
        font-size: 13px;
        
    }
    .downHeaderContainer2 a {
        font-size: 11px;
        
    }
}
@media (max-width:1101px){
   .home, footer{
        display: none;
    }
}